
<body>
    <section class="section-reminders" id="reminders">
        <div class="row">
            <div class="col span-1-of-2">
                <h3>Today's Reminders</h3>
                <button class="btn btn-info center-block" href="#">Add Reminder</button>
            </div>
            <div class="col span-1-of-2">
                <h3>Upcoming Reminders</h3>
            </div>
        </div>
        
    </section>
        
</body>
