@model MyDayWebApp.Models.Settings.Location
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings</h2>
@using (Html.BeginForm("SaveOrDisplayZip", "Settings"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Zip)
        @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.UserID)

    <button type="submit" class="btn btn-primary">Save</button>
}

